/* using bootstrap */

#location{
    padding-top: 10px;
}

#weather{
    padding-left: 20px;
    width: 500px;
}

.card-title, .card-text {
    height: 50px;
    overflow: hidden;
}


#form-div{
    border-radius: 20px;
    background-color: #0c4523;
    opacity: .9;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



/* HEADER & FOOTER */

h1,h2,h3,h4,h5{
    color: #0f5132;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    }

.header {
    background-color: #2f5c4d;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #001b25;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure it sits above other content */
}

.toggle-button {
    position: absolute;
    top: 10px; /* Adjust based on your layout */
    right: 10px; /* Adjust based on your layout */
    z-index: 3; /* Ensure it's above the carousel image */
}

body {
     background-image: url(../pexels-johannes-plenio-1423600.jpg); /* Adjust the path as necessary */
    background-size: cover; /* Ensures the image covers the entire background without distortion */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.carousel-item {
    position: relative;
    height: 300px; /* Fixed height for consistency */
    width: 100%; /* Ensure the item spans the full width of the carousel */
}

.carousel-caption {
    position: absolute;
    background: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center; /* Center the text within the caption */
}

/* Adjust this as needed to keep the image centered and prevent it from stretching */
.carousel-item img {
    max-height: 300px;
    max-width: 950px;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: auto;
}


/*.carousel-item img {*/
/*    max-height: 250px;*/
/*    max-width: 250px;*/
/*    width: auto; !* Maintain aspect ratio *!*/
/*    height: auto; !* Maintain aspect ratio *!*/
/*    margin: auto; !* Center the image *!*/
/*    border-radius: 20px;*/
/*}*/

/*.carousel-item {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100%; !* Make sure the Carousel.Item takes up the full height *!*/
/*}*/



