/* using bootstrap */

.card-container{

    padding: 10px;
}

#scroll-row{
    padding-top: 10px;
    padding-left: 8px;
}

#submitme{

    padding-left: 30px;
     padding-bottom: 80px;
}

#location{
    padding-top: 10px;
}

#weather{
    width: 500px;
}

.card-title, .card-text {
    height: 50px; /* Adjust based on your content */
    overflow: hidden;
}

#form-div{
    border-radius: 20px;

    background-color: #0c4523;
    opacity: .9;

}

/*.card {*/
/*    max-width: 180px !important;*/
/*    max-height: 160px !important;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*    transition: 0.3s;*/
/*}*/

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card img {
    padding-top: 10px;
    height: 195px; /* Fixed height for consistency */

    width: 260px; /* Ensures the image is responsive */
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer button {
    width: 48%;
}

/* HEADER & FOOTER */

h1,h2,h3,h4,h5{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.header {
    background-color: #2f5c4d;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #001b25;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure it sits above other content */
}

body {
    /*Need to optimize image*/
    background-image: url(pexels-johannes-plenio-1423600.jpg); /* Adjust the path as necessary */
    background-size: cover; /* Ensures the image covers the entire background without distortion */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


/* scrolling side to side */

.scrolling-wrapper {
    background-color: #0c4523;
    opacity: .9;
    border-radius: 25px;
    height: 410px;
    margin-top: 50px;
     overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* for mobile */
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.scrolling-wrapper .card {

    display: inline-block;
    white-space: normal;
}

/* General container styling */






